
html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/concrete-texture.png);
}

.container {
    height: fit-content;
}

/* -------------------------------Header-------------------------------- */
.backgroundbanner {
    background-color: #ffffff;
    padding:30px;
    height:45px;
    width:100%;
    border-bottom:solid;
    border-color: #cccccc;
}

.main_menu {
    border color: #cccccc;
    background-color:#ffffff;
    height: 60px;
    width:960px;
    margin: 0 auto;
}

  .main_menu > li {
    display:  inline-block;
    padding:25px 0px 0px 0px;
    font-size: 12px;
    position: relative;
    float: right;
    margin:-15px 0 0 0;
  }

  .logo {
    color:white;
    background-color: #4aaaa5;
    position: absolute;
    float:left;
    margin:-30px 0px 0px -65px;
    padding:25px 15px 15px 15px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    width:205px;
    height: 65px;
    font-size: 20px;
  }

  #name{
margin-top: 15px;

  }

#AboutMe{
    color:#4aaaa5;
    font-family:'Georgia', Times, 'Times New Roman', serif;
}



#ArticleHeader {
    border-bottom:solid;
    border-color: #cccccc;
    margin-bottom:10px;
    font-weight: bold;
    font-size:20px;
}

/* -------------------------------Contact Form-------------------------------- */

.form1 {
    margin: 50px auto;
}

.message{
    height:250px;
    width:960px;
    text-align: start;
}

input{
    display:block;
    width:100%;
}

.label {
    color:#aca5a5;
}

/* -------------------------------Main Content-------------------------------- */
article {
    background-color: #ffffff;
    margin: 15px auto;
    padding:30px;
    width:960px;
    height:650px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    overflow:auto;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:gray;
    line-height: 25px;
}


/* -------------------------------Footer-------------------------------- */
footer {
    background-color: #666666;
    height:60px;
    width:100%;
    border-top:solid 5px;
    border-color: #4aaaa5;
    position: fixed;
    left:0;
    bottom: 0;
    overflow: auto;
}

footer #Copydiv{
    margin: 0 50%;
    width:300px;
    padding:20px 0px 0px 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size:12px;
	font-weight:bold;
    color: #cccccc;
    position: fixed;
}

/* -------------------------------Buttons-------------------------------- */
.btn-group {
    margin:0 0 300px 800px;
    padding-top:30px;
}

.submit{
    text-decoration:none;
    background-color: #4aaaa5;
	color:white;
	font-size:12px;
	font-weight:bold;
	padding:0 15px;
	line-height:32px;
    height: auto;
    width:100px;
    text-align:center;
    border-radius: 5px;
}

.btn{
	text-decoration:none;
	color:#cccccc;
	font-size:12px;
	font-weight:bold;
	padding:0 15px;
	line-height:32px;
	height: auto;
	display:inline-block;
	text-align:center;
    background-color:rgba(250, 250, 250, 0.801);
}

.btn.round{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.btn-group .btn + .btn{
	border-left: 1px solid rgba(0, 0, 0, .1);
    margin-left:-1px;
}

.btn-group > .btn.round:not(:first-child):not(:last-child), .btn-group > .btn.pill:not(:first-child):not(:last-child){
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  
  .btn-group > .btn.round:first-child, .btn-group > .btn.pill:first-child{
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .btn-group > .btn.round:last-child, .btn-group > .btn.pill:last-child{
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .rotateimg180 {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }

/* -------------------------------Images-------------------------------- */

 .heroimage1{
    background-image: url(../images/TechImage1.jpg);
/* Set a specific height */
    height:200px;
    width:250px;

/* Position and center the image to scale nicely on all screens */
   
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.heroimage2{
    background-image: url(../images/TechImage2.jpg);
/* Set a specific height */
    height:200px;
    width:250px;

/* Position and center the image to scale nicely on all screens */
   
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.heroimage3{
    background-image: url(../images/TechImage3.jpg);
/* Set a specific height */
    height:200px;
    width:250px;

/* Position and center the image to scale nicely on all screens */
   
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.heroimage4{
    background-image: url(../images/TechImage4.jpg);
/* Set a specific height */
    height:200px;
    width:250px;

/* Position and center the image to scale nicely on all screens */
   
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.heroimage5{
    background-image: url(../images/TechImage5.jpg);
/* Set a specific height */
    height:200px;
    width:250px;

/* Position and center the image to scale nicely on all screens */
   
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.herotext {
    text-align: center;
    position: absolute;
    padding-top: 18px;
    top: 80%;
    left:50%;
    width: 100%;
    height: 35px;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #4aaaa5;
}
 

.column {
    float: left;
    width: 33.33%;
    padding: 1px;
  }
  
  /* Clear floats after image containers */
  imagerow1::after {
    content: "";
    clear: both;
    display: table;
  }

  /* -------------------------------Images-------------------------------- */

  @media screen and (max-width:959px){
    .container{
        width:100%;
    }

    .backgroundbanner{
        width:100%;
       
    }

    .main_menu{
        width:100%;
    }

    .btn round{
        width:100%;
        display:inline-block;
    }
    article{
        width:100%;
    }

    #ArticleHeader{
        width:100%;
    }

    .imagerow1{
        width:100%;
    }

    .column{
        width:100%;
    }


    .form1{
        width:100%;
    }


    .label{
        width:100%;
    }

    footer{
        width:100%;
    }

    #Copydiv{
        width:100%;
    }

  }

  @media screen and (max-width:319px){
    .container{
        width:100%;
    }

    .backgroundbanner{
        width:100%;
       
    }

    .main_menu > li {
        display:  block;
        padding:125px 0px 0px 0px;
        font-size: 12px;
        position: relative;
        float: right;
        margin:-15px 0 0 0;
        color: red;
      }













}